* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f9CB3A;
    cursor: url(../images/cursor.svg), auto;
    transition: 0.3s;
}

svg {
    width: 300px;
}